:root {
  --main-font: "fatfrank", sans-serif;
  --text-font: "nimbus-sans", sans-serif;
  --black: #000000;
  --body1: #ff413b;
  --body2: #edcc37;
  --body3: #5170ed;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.mybody {
  background: black;
}

.bodyone {
  background: var(--body1);
}

.bodytwo {
  background: var(--body2);
}

.bodythree {
  background: var(--body3);
  height: 100%;
  min-height: 100%;
}

.contact-flexbox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0px 40px 100px 40px;
  height: 100%;
}
.contact-flexbox_toptitle {
  flex: 1 0;
  text-align: center;
  color: white;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 8vw;
  letter-spacing: -0.4vw;
}
.contact-flexbox_bottom {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}
.contact-flexbox_bottom1, .contact-flexbox_bottom2, .contact-flexbox_bottom3 {
  flex: 1;
  border: 3px white solid;
  margin: 1vw;
  padding: 10px;
  display: flex;
  align-items: center;
}

.contact-font {
  font-family: "helvetica", sans-serif;
  letter-spacing: -3px;
}

.contact-links {
  text-decoration: none;
  color: white;
  font-family: var(--text-font);
  font-size: 48px;
  font-weight: 300;
  margin: 0 auto;
}

.whitebkgd {
  background-color: white !important;
}

.bluetext {
  color: var(--body3) !important;
}

.bio-flexbox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0px 40px 100px 40px;
  height: 100%;
}
.bio-flexbox_top {
  display: flex;
  flex-flow: row wrap;
}
.bio-flexbox_toptitle {
  flex: 1 0;
  text-align: center;
  color: white;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 8vw;
  letter-spacing: -0.4vw;
}
.bio-flexbox_middleandbottom {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.bio-flexbox_middle {
  border: 3px white solid;
  padding: 3.5vw;
  margin-bottom: 3.5vw;
}
.bio-flexbox_middleparagraph {
  margin: 0;
  color: white;
  font-family: var(--text-font);
  font-size: 4vw;
  font-weight: 300;
}
.bio-flexbox_bottom {
  flex: 1 0;
  display: flex;
  flex-flow: column wrap;
}
.bio-flexbox_bottomskills1, .bio-flexbox_bottomskills2, .bio-flexbox_bottomskills3 {
  border: 3px white solid;
  padding: 3.5vw;
  margin-bottom: 3.5vw;
  flex: 1;
}
.bio-flexbox_bottomskills1coding, .bio-flexbox_bottomskills2design, .bio-flexbox_bottomskills3prototype {
  margin: 0;
  color: white;
  font-family: var(--text-font);
  font-size: 4vw;
  font-weight: 300;
}

.underline {
  font-weight: 500;
}

.flexbox-work {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 50px 40px 100px 40px;
  height: 100%;
}
.flexbox-work_left {
  display: flex;
  flex-flow: row wrap;
}
.flexbox-work_left-header {
  flex: 1 0;
  width: 100%;
  color: white;
  font-size: 10.3vw;
  text-align: center;
}
.flexbox-work_right {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.flexbox-work_1, .flexbox-work_2, .flexbox-work_3, .flexbox-work_4, .flexbox-work_5, .flexbox-work_6, .flexbox-work_7, .flexbox-work_8, .flexbox-work_9, .flexbox-work_10, .flexbox-work_11, .flexbox-work_12, .flexbox-work_13, .flexbox-work_14, .flexbox-work_15, .flexbox-work_16 {
  flex: 1 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: white;
  font-family: var(--text-font);
  font-weight: 300;
  text-decoration: none;
  margin: 0 auto;
}
.flexbox-work_text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 13vh;
  margin: 8px 0px 15px 0px;
  border: 2px white solid;
  text-decoration: none;
  transition: 0.7s ease-in-out;
  padding: 10px;
}

.text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16 {
  transition: 0.7s ease-in-out;
  text-align: center;
}

.headingcontainer {
  position: relative;
  top: 0;
  text-align: left;
  margin: 100px 40px 0px 40px;
}

.heading {
  position: relative;
  font-family: var(--main-font);
  margin: 0;
  font-size: 140px;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 170px;
}

canvas {
  display: block;
  width: 100%;
  height: auto;
}

.flexbox-header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 15px;
  top: 0;
}
.flexbox-header_1 {
  flex: 4 0;
}
.flexbox-header_2, .flexbox-header_3, .flexbox-header_4 {
  flex: 1 0;
  text-align: center;
}
.flexbox-header_link {
  font-family: var(--text-font);
  font-weight: 200;
  font-size: 2.7vw;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 0.15vw;
}
.flexbox-header_link:hover {
  color: blue;
}
.flexbox-header_link:visited {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .contact-flexbox {
    flex-flow: column nowrap;
  }

  .contact-flexbox_bottom {
    flex-flow: column wrap;
  }

  .bio-flexbox_toptitle {
    font-size: 8.1vw;
  }
}
@media only screen and (max-width: 1000px) {
  .flexbox-header {
    display: none;
  }

  .openspan {
    display: inline !important;
  }

  .bio-flexbox {
    flex-flow: column nowrap;
  }

  body {
    padding-top: 10px;
  }

  .bio-flexbox_toptitle {
    font-size: 8vw;
  }

  .bio-flexbox_middleparagraph {
    font-size: 6vw;
  }

  .bio-flexbox_bottomskills1coding {
    font-size: 6vw;
  }

  .bio-flexbox_bottomskills2design {
    font-size: 6vw;
  }

  .bio-flexbox_bottomskills3prototype {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 920px) {
  .bio-flexbox_toptitle {
    font-size: 7.9vw;
  }

  .contact-flexbox_sections1 {
    font-size: 50px;
  }

  .contact-flexbox_sections2 {
    font-size: 50px;
  }

  .contact-flexbox_sections3 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 780px) {
  .bio-flexbox_toptitle {
    font-size: 7.8vw;
  }

  .contact-font {
    letter-spacing: 0px;
  }

  .contact-bottom {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 710px) {
  .flexbox-work_1 {
    font-size: 4.5vw;
  }

  .flexbox-work_2 {
    font-size: 4.5vw;
  }

  .flexbox-work_3 {
    font-size: 4.5vw;
  }

  .flexbox-work_4 {
    font-size: 4.5vw;
  }

  .flexbox-work_5 {
    font-size: 4.5vw;
  }

  .flexbox-work_6 {
    font-size: 4.5vw;
  }

  .flexbox-work_7 {
    font-size: 4.5vw;
  }

  .flexbox-work_8 {
    font-size: 4.5vw;
  }

  .flexbox-work_9 {
    font-size: 4.5vw;
  }

  .flexbox-work_10 {
    font-size: 4.5vw;
  }

  .flexbox-work_11 {
    font-size: 4.5vw;
  }

  .flexbox-work_12 {
    font-size: 4.5vw;
  }

  .flexbox-work_13 {
    font-size: 4.5vw;
  }

  .flexbox-work_14 {
    font-size: 4.5vw;
  }

  .flexbox-work_15 {
    font-size: 4.5vw;
  }

  .bio-flexbox_toptitle {
    font-size: 7.1vw;
  }

  .flexbox-work_left-header {
    font-size: 9.5vw;
  }
}
@media only screen and (max-width: 630px) {
  .bio-flexbox_toptitle {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 600px) {
  .contact-links {
    font-size: 40px;
  }
}
@media only screen and (max-width: 530px) {
  .words {
    font-weight: 300 !important;
  }
}
@media only screen and (max-width: 484px) {
  .flexbox-work_1 {
    font-size: 5vw;
  }

  .flexbox-work_2 {
    font-size: 5vw;
  }

  .flexbox-work_3 {
    font-size: 5vw;
  }

  .flexbox-work_4 {
    font-size: 5vw;
  }

  .flexbox-work_5 {
    font-size: 5vw;
  }

  .flexbox-work_6 {
    font-size: 5vw;
  }

  .flexbox-work_7 {
    font-size: 5vw;
  }

  .flexbox-work_8 {
    font-size: 5vw;
  }

  .flexbox-work_9 {
    font-size: 5vw;
  }

  .flexbox-work_10 {
    font-size: 5vw;
  }

  .flexbox-work_11 {
    font-size: 5vw;
  }

  .flexbox-work_12 {
    font-size: 5vw;
  }

  .flexbox-work_13 {
    font-size: 5vw;
  }

  .flexbox-work_14 {
    font-size: 5vw;
  }

  .flexbox-work_15 {
    font-size: 5vw;
  }

  .bio-flexbox_toptitle {
    font-size: 6.9vw;
  }
}
@media only screen and (max-width: 440px) {
  .flexbox-work_left-header {
    font-size: 9vw;
  }

  .bio-flexbox_toptitle {
    font-size: 6.7vw;
  }
}
@media only screen and (max-width: 400px) {
  .bio-flexbox_toptitle {
    font-size: 6.5vw;
  }
}
@media only screen and (max-width: 355px) {
  .flexbox-work_left-header {
    font-size: 8.5vw;
  }

  .bio-flexbox_toptitle {
    font-size: 6.3vw;
  }
}
.topbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 50px 50px 30px 50px;
}
.topbar_goback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid white;
  background: none;
  width: 120px;
  height: 60px;
  font-size: 3vw;
  color: white;
  font-family: var(--text-font);
  font-weight: bold;
  transition: 0.4s ease-in;
  outline: none;
  margin-right: 25px;
}
.topbar_goback:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.topbar_pagetitle {
  display: flex;
  flex-flow: nowrap;
  margin-left: 25px;
}
.topbar_pagetitle-text {
  font-size: 6vw;
  font-family: var(--text-font);
  color: white;
  font-weight: 600;
  margin: 0;
  letter-spacing: -4px;
}

.antarctica {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.antarctica-menu {
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
}
.antarctica-menu_zoomin, .antarctica-menu_zoomout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid white;
  background: none;
  width: 60px;
  height: 60px;
  font-size: 3vw;
  color: white;
  font-family: var(--text-font);
  font-weight: bold;
  transition: 0.4s ease-in;
  outline: none;
}
.antarctica-menu_zoomin:hover, .antarctica-menu_zoomout:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.antarctica-menu_zoomout {
  margin-top: 20px;
}

.antarctica-textbox {
  flex: 1;
  margin-left: 25px;
}
.antarctica-textbox_text {
  margin: 0;
  color: white;
  font-family: var(--text-font);
  font-size: 1.8vw;
  color: white;
  font-weight: 300;
}

.antarctica-flexbox {
  flex: 1.5;
  margin: 0px 25px 0px 25px;
  display: flex;
  flex-flow: row wrap;
}
.antarctica-flexbox_column {
  flex: 50%;
  max-width: 47%;
  padding: 0 5px;
}
.antarctica-flexbox_columnimage {
  width: 100%;
  margin: 3px;
  border: 0.2px solid white;
}

.openspan {
  width: 3vw;
  cursor: pointer;
  color: white;
  font-family: var(--text-font);
  font-weight: 200;
  font-size: 45px;
  margin-left: 20px;
  display: none;
  transition: color 0.4s;
}

.openspan:hover {
  color: blue;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  opacity: 90%;
}

/* The navigation menu links */
.sidenav .links {
  padding: 8px 8px 8px 32px;
  width: 210px;
  text-decoration: none;
  color: white;
  display: block;
  opacity: 100%;
}

.words {
  text-decoration: none;
  font-size: 35px;
  color: white;
  font-family: var(--text-font);
  font-weight: 200;
  transition: 0.3s;
  letter-spacing: 1px;
}

.words:hover {
  color: red;
}

.sidenav a:hover {
  color: red;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 55px;
  color: white;
  transition: 0.3s;
  text-decoration: none;
  font-family: var(--text-font);
  font-weight: 200;
}

.topbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 50px 50px 30px 50px;
}
.topbar_goback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid white;
  background: none;
  width: 120px;
  height: 60px;
  font-size: 3vw;
  color: white;
  font-family: var(--text-font);
  font-weight: bold;
  transition: 0.4s ease-in;
  outline: none;
  margin-right: 25px;
}
.topbar_goback:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.topbar_pagetitle {
  display: flex;
  margin-left: 25px;
}
.topbar_pagetitle-text {
  font-size: 6vw;
  font-family: var(--text-font);
  color: white;
  font-weight: 600;
  margin: 0;
  letter-spacing: -4px;
}

.synesthesia {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.synesthesia-menu {
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
}
.synesthesia-menu_zoomin, .synesthesia-menu_zoomout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid white;
  background: none;
  width: 60px;
  height: 60px;
  font-size: 3vw;
  color: white;
  font-family: var(--text-font);
  font-weight: bold;
  transition: 0.4s ease-in;
  outline: none;
}
.synesthesia-menu_zoomin:hover, .synesthesia-menu_zoomout:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.synesthesia-menu_zoomout {
  margin-top: 20px;
}

.synesthesia-textbox {
  flex: 1;
  margin-left: 25px;
}
.synesthesia-textbox_text {
  margin: 0;
  color: white;
  font-family: var(--text-font);
  font-size: 1.8vw;
  color: white;
  font-weight: 300;
}

.synesthesia-flexbox {
  flex: 1.5;
  margin: 0px 25px 0px 25px;
  display: flex;
  flex-flow: row wrap;
}
.synesthesia-flexbox_column {
  flex: 50%;
  max-width: 47%;
  padding: 0 5px;
}
.synesthesia-flexbox_columnimage {
  width: 100%;
  margin: 3px;
  border: 0.2px solid white;
}

/*# sourceMappingURL=style.css.map */
