:root {
  --main-font: "Raleway", sans-serif;
  --white: #e2e2e2;
  --black: #000000;
  --pink: #b059a2;
  --blue: #72e5ff;
  --yellow: #fffc70;
  --green: #80ef7a;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.vloracontainer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.container {
  display: inline;
  margin-left: 30px;
}

.vlora {
  position: relative;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 800;
  margin: 0;
  font-size: 90px;
  letter-spacing: 30px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--pink);
}

.header {
  position: relative;
}
.header_one {
  position: relative;
  font-family: var(--main-font);
  font-weight: 900;
  margin: 0px;
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--pink);
  text-decoration: none;
}
.header_two {
  position: relative;
  margin: 0px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--pink);
  text-decoration: none;
}
.header_three {
  position: relative;
  margin: 0px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--pink);
  text-decoration: none;
}
.header_one:hover, .header_two:hover, .header_three:hover {
  content: "";
  -webkit-text-stroke-color: var(--white);
  text-decoration: none;
}

.containerthree {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.contact {
  position: relative;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 800;
  margin: 0;
  top: 0;
  left: 20px;
  font-size: 130px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--green);
}

.containertwo {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.biography {
  position: relative;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 800;
  margin: 0;
  top: 0;
  left: 20px;
  font-size: 130px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--blue);
}

.me {
  width: 500px;
  height: 450px;
  float: right;
}
.me_pic {
  width: 100%;
  height: 100%;
}

.containerone {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.design {
  position: relative;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 800;
  margin: 0;
  top: 0;
  left: 20px;
  font-size: 130px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--yellow);
}

.bottomcontainer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.bottom {
  display: inline;
  margin-left: 10px;
}

.myname {
  position: relative;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 33px;
  letter-spacing: 10px;
  color: transparent;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: var(--pink);
}

/*# sourceMappingURL=style.css.map */
