* {
    box-sizing: border-box;
}
  
  html {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
  }
  
  .content {
    height: 100%;
    width: 100%;
  }
  
  .name {
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    font-weight: lighter;
    position: relative;
    padding-top: -25px;
    padding-right: 25px;
    margin: 0;
    text-align: right;
    letter-spacing: -2px;
    color: #3d437a;
  }
  
  .description {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 65px;
    margin-top: -40px;
    margin-bottom: 120px;
  }
  
  .email {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 160px;
    color: #004c01;
  }
  
  .verb h1 span {
    font-size: 80px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter; 
    margin-left: 160px;
  }
  
  .verb h1 span:hover {
    font-size: 80px;
    letter-spacing: 110px;
    color: #00ad02;
    margin-left: 160px;
  }
  
  .verbs {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder; 
    margin-left: 60px;
  }
  
  a {
    color: #a3d39e;
  }
  
  .one {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .two {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .three { 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  
  