.bio-flexbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0px 40px 50px 40px;

    &_top {
        flex: 1 0;
        display: flex;
        flex-flow: row wrap;
    }

    &_toptitle {
        flex: 1 0;
        text-align: center;
        color: white;
        font-family: var(--text-font);
        font-weight: 400;
        font-size: 8vw;
    }

    &_middle {
        flex: 1 0;
        border: 3px white solid;
        padding: 3.5vw;        
        margin-bottom: 3.5vw;
    }

    &_middleparagraph {
        margin: 0;
        color: white;
        font-family: var(--text-font);
        font-size: 50px;
        font-weight: 300;
    }

    &_bottom {
        flex: 1 0;
        display: flex;
        flex-flow: column wrap;
    }

    &_bottomskills1, &_bottomskills2, &_bottomskills3 {
        border: 3px white solid;
        padding: 3.5vw;        
        margin-bottom: 3.5vw;
    }

    &_bottomskills1coding, &_bottomskills2design, &_bottomskills3prototype {
        margin: 0;
        color: white;
        font-family: var(--text-font);
        font-size: 50px;
        font-weight: 300;
    }
}

.underline {
    font-weight: 500;
}
