.topbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 50px 50px 30px 50px;

    &_goback {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 1px solid white;
        background: none;
        width: 120px;
        height: 60px;
        font-size: 3vw;
        color: white;
        font-family: var(--text-font);
        font-weight: bold;
        transition: 0.4s ease-in;
        outline: none;
        margin-right: 25px;
        cursor: pointer;
    }

    &_goback:hover {
        border: 1px solid black;
        color: black;
        background-color: white;
    }

    &_pagetitle {
        display: flex;
        flex-flow: nowrap;
        margin-left: 25px;
    }
    
    &_pagetitle-text {
        font-size: 6vw;
        font-family: var(--text-font);
        color: white;
        font-weight: 600;
        margin: 0;
        letter-spacing: -4px;
    }
}

.coffee {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
}

.coffee-menu {
    display: flex;
    flex-flow: column wrap;
    margin-right: 25px;

    &_zoomin, &_zoomout {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 1px solid white;
        background: none;
        width: 60px;
        height: 60px;
        font-size: 3vw;
        color: white;
        font-family: var(--text-font);
        font-weight: bold;
        transition: 0.4s ease-in;
        outline: none;
    }

    &_zoomin:hover, &_zoomout:hover {
        border: 1px solid black;
        color: black;
        background-color: white;
    }

    &_zoomout {
        margin-top: 20px;
    }

}

.coffee-textbox {
    flex: 1;
    margin-left: 25px;

    &_text { 
        margin: 0;
        color: white;
        font-family: var(--text-font);
        font-size: 1.8vw;
        color: white;
        font-weight: 300;
    }
}

.coffee-flexbox {
    flex: 1.5;
    margin: 0px 25px 0px 25px;
    display: flex;
    flex-flow: row wrap;

    &_column {
        flex: 50%;
        max-width: 47%;
        padding: 0 5px;
    }

    &_columnimage {
        width: 100%;
        margin: 3px;
        border: 0.2px solid white;
    }
}

