body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 120vh;
    background-color: var(--orange);
}

.contact-flexbox {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    margin: 100px 40px 0px 40px;

    &_top {
        flex: 1 0;
    }

    &_heading { 
        position: relative;
        font-family: var(--main-font);
        margin: 0;
        font-size: 12vw;
        letter-spacing: 1px;
        color: transparent;
        line-height: 12vw;
        -webkit-text-stroke-width: .26vw;
        -webkit-text-stroke-color: var(--blue);
    }

    &_bottom {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-between;
        align-content: flex-start;
        flex: 1 0;
        margin-top: 80px;;
    }

    &_sections {
        width: 27vw;
        height: 10vw;
        background-color: var(--blue);
        margin: 0 auto;
        display: flex;
        text-decoration: none;
        transition: 0.5s;
    }

    &_sections1, &_sections2, &_sections3 {
        font-size: 45px;
        color: white;
        font-family: var(--main-font);
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        margin: auto;
        padding: 8px;
    }
}


#gmail:hover {
    background-color: var(--gmailred);
}

#linkedin:hover {
    background-color: var(--linkedinblue);
}

#github:hover {
    background-color: var(--githubgrey);
}