.contact {
    position: relative;
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 800;
    margin: 0;
    font-size: 130px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--pink);
}