.containerthree {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.contact {
    position: relative;
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 800;
    margin: 0;
    top: 0;
    left: 20px;
    font-size: 230px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--yellow);
    line-height: 220px;
}

.bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 130px;
    margin-bottom: 100px;

    &_one {
        position: relative;
        height: 200px;
        margin: 50px;
        width: 400px;
        border: 3px solid var(--white);
        text-align: center;
        line-height: 200px;
    }

    &_two {
        position: relative;
        height: 200px;
        margin: 50px;
        width: 400px;
        border: 3px solid var(--white);
        text-align: center;
        line-height: 200px;
    }
}

.email {
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 80px;
    color: var(--yellow);
    text-decoration: none;
}

.linkedin {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 80px;
    color: var(--yellow);
    text-decoration: none;
}



.bottomcontainer {
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
}

.bottom {
    display: inline;
}

.myname {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: var(--blue);
}

.myname:hover {
    content: '';
    text-decoration: none;
    -webkit-text-stroke-color: var(--white);
}
