.containerone {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.design {
    position: relative;
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 800;
    margin: 0;
    top: 0;
    left: 20px;
    font-size: 130px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--yellow);
}

// .bottomcontainer {
//     position: absolute;
//     bottom: 15px;
//     text-align: center;
//     width: 100%;
// }

// .bottom {
//     display: inline;
// }

// .myname {
//     position: relative;
//     display: inline-block;
//     text-decoration: none;
//     font-family: var(--main-font);
//     font-size: 30px;
//     font-weight: 800;
//     color: transparent;
//     -webkit-text-stroke-width: 1.4px;
//     -webkit-text-stroke-color: var(--pink);
// }

// .myname:hover {
//     content: '';
//     text-decoration: none;
//     -webkit-text-stroke-color: var(--white);
// }