.containerone {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

.design {
    position: relative;
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 800;
    margin: 0;
    top: 0;
    left: 20px;
    font-size: 170px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--green);
    line-height: 210px;
    margin-bottom: 150px;
}

.construction {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: red;
}

.showcase {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    margin-left: 150px;

    &_one {
        width: 100%;
        height: 120px;
        border: 3px solid white;
        text-align: left;
    }

    &_two, &_three, &_four, &_five {
        width: 100%;
        height: 120px;
        border: solid white;
        border-width: 0px 3px 3px 3px; 
        text-align: left;
    }

    .link {
        position: absolute;
        font-size: 50px;
        font-weight: 900;
        font-family: var(--main-font);
        text-decoration: none;
        margin: 30px;
        color: var(--green);
    }
}

.bottomcontainer {
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 35px;
}

.bottom {
    display: inline;
}

.myname {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: var(--pink);
}

.myname:hover {
    content: '';
    text-decoration: none;
    -webkit-text-stroke-color: var(--white);
}