.flexbox-header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 15px;
    top: 0;

    &_1 {
        flex: 4 0;
    }
    
    &_2, &_3, &_4 {
        flex: 1 0;
        text-align: center;
    }

    &_link {
        font-family: var(--text-font);
        font-weight: 200; 
        font-size: 2.7vw;
        color: var(--black);
        text-decoration: none;
        transition: color .3s;
        letter-spacing: .15vw;
    }
    
    &_link:hover {
        color: var(--white);
    }

    &_link:visited {
        text-decoration: none;
    }
}