.headingcontainer {
    position: relative;
    top: 0;
    text-align: left;
    margin: 100px 40px 0px 40px;
}

.heading {
    position: relative;
    font-family: var(--main-font);
    margin: 0;
    font-size: 12vw;
    letter-spacing: 1px;
    word-spacing: 1vw;
    color: var(--white);
    line-height: 12vw;
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: var(--black);
    text-shadow: 9px 4px 5px #00163b;
}



