@media only screen and (max-width: 1200px) {
    .contact-flexbox {flex-flow: column nowrap;}
    .contact-flexbox_bottom {flex-flow: column wrap;}
    .flexbox-work_1 {font-size: 43px;}
    .flexbox-work_2 {font-size: 43px;}
    .flexbox-work_3 {font-size: 43px;}
    .flexbox-work_4 {font-size: 43px;}
    .flexbox-work_5 {font-size: 43px;}
    .flexbox-work_6 {font-size: 43px;}
    .flexbox-work_7 {font-size: 43px;}
    .flexbox-work_8 {font-size: 43px;}
    .flexbox-work_9 {font-size: 43px;}
    .flexbox-work_10 {font-size: 43px;}
    .flexbox-work_11 {font-size: 43px;}
    .flexbox-work_12 {font-size: 43px;}
    .flexbox-work_13 {font-size: 43px;}
    .flexbox-work_14 {font-size: 43px;}
    .flexbox-work_15 {font-size: 43px;}
    .bio-flexbox_toptitle {font-size: 8.1vw;}
    .bio-flexbox_middleparagraph {font-size: 45px;}
    .bio-flexbox_bottomskills1coding {font-size: 45px;}
    .bio-flexbox_bottomskills2design {font-size: 45px;}    
    .bio-flexbox_bottomskills3prototype {font-size: 45px;}
}

@media only screen and (max-width: 1000px) {
    .flexbox-header {display: none;}
    .openspan {display: inline !important;}
    .bio-flexbox {flex-flow: column nowrap;}
    body {padding-top: 10px;}
    .flexbox-work_1 {font-size: 42px;}
    .flexbox-work_2 {font-size: 42px;}
    .flexbox-work_3 {font-size: 42px;}
    .flexbox-work_4 {font-size: 42px;}
    .flexbox-work_5 {font-size: 42px;}
    .flexbox-work_6 {font-size: 42px;}
    .flexbox-work_7 {font-size: 42px;}
    .flexbox-work_8 {font-size: 42px;}
    .flexbox-work_9 {font-size: 42px;}
    .flexbox-work_10 {font-size: 42px;}
    .flexbox-work_11 {font-size: 42px;}
    .flexbox-work_12 {font-size: 42px;}
    .flexbox-work_13 {font-size: 42px;}
    .flexbox-work_14 {font-size: 42px;}
    .flexbox-work_15 {font-size: 42px;}
    .bio-flexbox_toptitle {font-size: 8.0vw;}
    .bio-flexbox_middleparagraph {font-size: 42px;}
    .bio-flexbox_bottomskills1coding{font-size: 42px;}
    .bio-flexbox_bottomskills2design{font-size: 42px;}    
    .bio-flexbox_bottomskills3prototype{font-size: 42px;}
}

@media only screen and (max-width: 920px) {
    .flexbox-work_1 {font-size: 41px;}
    .flexbox-work_2 {font-size: 41px;}
    .flexbox-work_3 {font-size: 41px;}
    .flexbox-work_4 {font-size: 41px;}
    .flexbox-work_5 {font-size: 41px;}
    .flexbox-work_6 {font-size: 41px;}
    .flexbox-work_7 {font-size: 41px;}
    .flexbox-work_8 {font-size: 41px;}
    .flexbox-work_9 {font-size: 41px;}
    .flexbox-work_10 {font-size: 41px;}
    .flexbox-work_11 {font-size: 41px;}
    .flexbox-work_12 {font-size: 41px;}
    .flexbox-work_13 {font-size: 41px;}
    .flexbox-work_14 {font-size: 41px;}
    .flexbox-work_15 {font-size: 41px;}
    .bio-flexbox_toptitle {font-size: 7.9vw;}
    .bio-flexbox_middleparagraph {font-size: 38px;}
    .bio-flexbox_bottomskills1coding {font-size: 38px;}
    .bio-flexbox_bottomskills2design {font-size: 38px;}    
    .bio-flexbox_bottomskills3prototype {font-size: 38px;}
    .contact-flexbox_sections1 {font-size: 50px;}
    .contact-flexbox_sections2 {font-size: 50px;}
    .contact-flexbox_sections3 {font-size: 50px;}
}

@media only screen and (max-width: 850px) {
    .flexbox-work_1 {font-size: 38px;}
    .flexbox-work_2 {font-size: 38px;}
    .flexbox-work_3 {font-size: 38px;}
    .flexbox-work_4 {font-size: 38px;}
    .flexbox-work_5 {font-size: 38px;}
    .flexbox-work_6 {font-size: 38px;}
    .flexbox-work_7 {font-size: 38px;}
    .flexbox-work_8 {font-size: 38px;}
    .flexbox-work_9 {font-size: 38px;}
    .flexbox-work_10 {font-size: 38px;}
    .flexbox-work_11 {font-size: 38px;}
    .flexbox-work_12 {font-size: 38px;}
    .flexbox-work_13 {font-size: 38px;}
    .flexbox-work_14 {font-size: 38px;}
    .flexbox-work_15 {font-size: 38px;}
}

@media only screen and (max-width: 780px) {
    .flexbox-work_1 {font-size: 35px;}
    .flexbox-work_2 {font-size: 35px;}
    .flexbox-work_3 {font-size: 35px;}
    .flexbox-work_4 {font-size: 35px;}
    .flexbox-work_5 {font-size: 35px;}
    .flexbox-work_6 {font-size: 35px;}
    .flexbox-work_7 {font-size: 35px;}
    .flexbox-work_8 {font-size: 35px;}
    .flexbox-work_9 {font-size: 35px;}
    .flexbox-work_10 {font-size: 35px;}
    .flexbox-work_11 {font-size: 35px;}
    .flexbox-work_12 {font-size: 35px;}
    .flexbox-work_13 {font-size: 35px;}
    .flexbox-work_14 {font-size: 35px;}
    .flexbox-work_15 {font-size: 35px;}
    .bio-flexbox_toptitle {font-size: 7.8vw;}
    .bio-flexbox_middleparagraph {font-size: 32px;}
    .bio-flexbox_bottomskills1coding{font-size: 32px;}
    .bio-flexbox_bottomskills2design{font-size: 32px;}    
    .bio-flexbox_bottomskills3prototype{font-size: 32px;}
    .contact-font {letter-spacing: 0px;}
    .contact-bottom {justify-content: space-between;}
}

@media only screen and (max-width: 710px) {
    .flexbox-work_1 {font-size: 35px;}
    .flexbox-work_2 {font-size: 35px;}
    .flexbox-work_3 {font-size: 35px;}
    .flexbox-work_4 {font-size: 35px;}
    .flexbox-work_5 {font-size: 35px;}
    .flexbox-work_6 {font-size: 35px;}
    .flexbox-work_7 {font-size: 35px;}
    .flexbox-work_8 {font-size: 35px;}
    .flexbox-work_9 {font-size: 35px;}
    .flexbox-work_10 {font-size: 35px;}
    .flexbox-work_11 {font-size: 35px;}
    .flexbox-work_12 {font-size: 35px;}
    .flexbox-work_13 {font-size: 35px;}
    .flexbox-work_14 {font-size: 35px;}
    .flexbox-work_15 {font-size: 35px;}
    .bio-flexbox_toptitle {font-size: 7.1vw;}
    .bio-flexbox_middleparagraph {font-size: 26px;}
    .bio-flexbox_bottomskills1coding {font-size: 26px;}
    .bio-flexbox_bottomskills2design {font-size: 26px;}    
    .bio-flexbox_bottomskills3prototype {font-size: 26px;}
    .flexbox-work_left-header {font-size: 9.5vw;}
}

@media only screen and (max-width: 630px) {
    .bio-flexbox_toptitle {font-size: 7.0vw;}
    .bio-flexbox_middleparagraph {font-size: 21px;}
    .bio-flexbox_bottomskills1coding {font-size: 21px;}
    .bio-flexbox_bottomskills2design {font-size: 21px;}    
    .bio-flexbox_bottomskills3prototype {font-size: 21px;}
}

@media only screen and (max-width: 600px) {
    .flexbox-work_1 {font-size: 24px;}
    .flexbox-work_2 {font-size: 24px;}
    .flexbox-work_3 {font-size: 24px;}
    .flexbox-work_4 {font-size: 24px;}
    .flexbox-work_5 {font-size: 24px;}
    .flexbox-work_6 {font-size: 24px;}
    .flexbox-work_7 {font-size: 24px;}
    .flexbox-work_8 {font-size: 24px;}
    .flexbox-work_9 {font-size: 23px;}
    .flexbox-work_10 {font-size: 23px;}
    .flexbox-work_11 {font-size: 23px;}
    .flexbox-work_12 {font-size: 23px;}
    .flexbox-work_13 {font-size: 23px;}
    .flexbox-work_14 {font-size: 23px;}
    .flexbox-work_15 {font-size: 23px;}
    .contact-links {font-size: 40px;}
}

@media only screen and (max-width: 560px) {
    .bio-flexbox_middleparagraph {font-size: 17px;}
    .bio-flexbox_bottomskills1coding {font-size: 17px;}
    .bio-flexbox_bottomskills2design {font-size: 17px;}    
    .bio-flexbox_bottomskills3prototype {font-size: 17px;}
}

@media only screen and (max-width: 530px) {
    .flexbox-work_1 {font-size: 21px;}
    .flexbox-work_2 {font-size: 21px;}
    .flexbox-work_3 {font-size: 21px;}
    .flexbox-work_4 {font-size: 21px;}
    .flexbox-work_5 {font-size: 21px;}
    .flexbox-work_6 {font-size: 21px;}
    .flexbox-work_7 {font-size: 21px;}
    .flexbox-work_8 {font-size: 21px;}
    .flexbox-work_9 {font-size: 21px;}
    .flexbox-work_10 {font-size: 21px;}
    .flexbox-work_11 {font-size: 21px;}
    .flexbox-work_12 {font-size: 21px;}
    .flexbox-work_13 {font-size: 21px;}
    .flexbox-work_14 {font-size: 21px;}
    .flexbox-work_15 {font-size: 21px;}
    .contact-flexbox_sections1 {font-size: 40px;}
    .contact-flexbox_sections2 {font-size: 40px;}
    .contact-flexbox_sections3 {font-size: 40px;}
    .words {font-weight: 300 !important;}
}

@media only screen and (max-width: 484px) {
    .bio-flexbox_toptitle {font-size: 6.9vw;}
}

@media only screen and (max-width: 440px) {
    .flexbox-work_left-header {font-size: 9vw;}
    .bio-flexbox_toptitle {font-size: 6.7vw;}
}

@media only screen and (max-width: 400px) {
    .flexbox-work_1 {font-size: 18px;}
    .flexbox-work_2 {font-size: 18px;}
    .flexbox-work_3 {font-size: 18px;}
    .flexbox-work_4 {font-size: 18px;}
    .flexbox-work_5 {font-size: 18px;}
    .flexbox-work_6 {font-size: 18px;}
    .flexbox-work_7 {font-size: 18px;}
    .flexbox-work_8 {font-size: 18px;}
    .flexbox-work_9 {font-size: 18px;}
    .flexbox-work_10 {font-size: 18px;}
    .flexbox-work_11 {font-size: 18px;}
    .flexbox-work_12 {font-size: 18px;}
    .flexbox-work_13 {font-size: 18px;}
    .flexbox-work_14 {font-size: 18px;}
    .flexbox-work_15 {font-size: 18px;}
    .bio-flexbox_toptitle {font-size: 6.5vw;}
}

@media only screen and (max-width: 355px) {
    .flexbox-work_left-header {font-size: 8.5vw;}
    .bio-flexbox_toptitle {font-size: 6.3vw;}
}
