//When the screen gets smaller than 675px
@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 35px;}
    .flexbox-work_2 {font-size: 35px;}
    .flexbox-work_3 {font-size: 35px;}
    .flexbox-work_4 {font-size: 35px;}
    .flexbox-work_5 {font-size: 35px;}
    .flexbox-work_6 {font-size: 35px;}
    .flexbox-work_7 {font-size: 35px;}
    .flexbox-work_8 {font-size: 35px;}
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 30px;}
    .flexbox-work_2 {font-size: 30px;}
    .flexbox-work_3 {font-size: 30px;}
    .flexbox-work_4 {font-size: 30px;}
    .flexbox-work_5 {font-size: 30px;}
    .flexbox-work_6 {font-size: 30px;}
    .flexbox-work_7 {font-size: 30px;}
    .flexbox-work_8 {font-size: 30px;}
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 25px;}
    .flexbox-work_2 {font-size: 25px;}
    .flexbox-work_3 {font-size: 25px;}
    .flexbox-work_4 {font-size: 25px;}
    .flexbox-work_5 {font-size: 25px;}
    .flexbox-work_6 {font-size: 25px;}
    .flexbox-work_7 {font-size: 25px;}
    .flexbox-work_8 {font-size: 25px;}
}
