//When the screen gets smaller than 675px
@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 35px;}
    .flexbox-work_2 {font-size: 35px;}
    .flexbox-work_3 {font-size: 35px;}
    .flexbox-work_4 {font-size: 35px;}
    .flexbox-work_5 {font-size: 35px;}
    .flexbox-work_6 {font-size: 35px;}
    .flexbox-work_7 {font-size: 35px;}
    .flexbox-work_8 {font-size: 35px;}
    .flexbox-work_9 {font-size: 35px;}
    .flexbox-work_10 {font-size: 35px;}
    .flexbox-work_11 {font-size: 35px;}
    .flexbox-work_12 {font-size: 35px;}
    .flexbox-work_13 {font-size: 35px;}
    .flexbox-work_14 {font-size: 35px;}
    .flexbox-work_15 {font-size: 35px;}
}


div {
    font-size: 3vw;
  }
  @media screen and (min-width: 1200px) {
    div {
       font-size: 36px;
    }
  }





@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 30px;}
    .flexbox-work_2 {font-size: 30px;}
    .flexbox-work_3 {font-size: 30px;}
    .flexbox-work_4 {font-size: 30px;}
    .flexbox-work_5 {font-size: 30px;}
    .flexbox-work_6 {font-size: 30px;}
    .flexbox-work_7 {font-size: 30px;}
    .flexbox-work_8 {font-size: 30px;}
    .flexbox-work_9 {font-size: 30px;}
    .flexbox-work_10 {font-size: 30px;}
    .flexbox-work_11 {font-size: 30px;}
    .flexbox-work_12 {font-size: 30px;}
    .flexbox-work_13 {font-size: 30px;}
    .flexbox-work_14 {font-size: 30px;}
    .flexbox-work_15 {font-size: 30px;}
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .flexbox-work_1 {font-size: 25px;}
    .flexbox-work_2 {font-size: 25px;}
    .flexbox-work_3 {font-size: 25px;}
    .flexbox-work_4 {font-size: 25px;}
    .flexbox-work_5 {font-size: 25px;}
    .flexbox-work_6 {font-size: 25px;}
    .flexbox-work_7 {font-size: 25px;}
    .flexbox-work_8 {font-size: 25px;}
    .flexbox-work_9 {font-size: 25px;}
    .flexbox-work_10 {font-size: 25px;}
    .flexbox-work_11 {font-size: 25px;}
    .flexbox-work_12 {font-size: 25px;}
    .flexbox-work_13 {font-size: 25px;}
    .flexbox-work_14 {font-size: 25px;}
    .flexbox-work_15 {font-size: 25px;}
}
