.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.vlora {
    position: relative;
    margin-top: 20px;
    width: 40%;
    height: 40%;
}

// &_name {
//     font-family: 'Raleway', sans-serif;
//     font-weight: 800;
//     font-size: 90px;
//     position: relative;
//     padding-right: 25px;
//     margin: 0;
//     text-align: right;
//     color: var(--pink);
// }