// the smiley icon "look"
.openspan {
    width: 3vw;
    cursor: pointer;
    color: white;
    font-family: var(--text-font);
    font-weight: 200;  
    font-size: 45px;
    margin-left: 20px;
    display: none;
    transition: color 0.4s;
}

.openspan:hover {
    color: blue;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: blue;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 90%;
  }
  
  /* The navigation menu links */
  .sidenav .links {
    padding: 8px 8px 8px 32px;
    width: 210px;
    text-decoration: none;
    color: white;
    display: block;
    opacity: 100%;
  }

  .words {
    text-decoration: none;
    font-size: 35px;
    color: white;
    font-family: var(--text-font);
    font-weight: 200;
    transition: 0.3s;
    letter-spacing: 1px;
  }

  .words:hover {
    color: red;
  }
  
  .sidenav a:hover {
    color: red;
  }

  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 55px;
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 200;
  }
  
  //MAYBE USE THIS FOR SMTH ELSE !! 
// .thetext:after {    
//     background: none repeat scroll 0 0 transparent;
//     content: "";
//     display: block;
//     height: 3px;
//     left: 0;
//     position: relative;
//     background: #fff;
//     transition: width 0.7s ease 0s, left 0.3s ease 0s;
//     width: 0;
// }

// .thetext:hover:after { 
//     width: 100%; 
//     left: 0; 
// }
