/* The side navigation menu */
.menuicon {
    margin: 0 auto;
    padding: 15px;
    color: white;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 70%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: var(--text-font);
    opacity: 100%;
  }
  
  .sidenav a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: relative;
    background: #fff;
    transition: width 0.7s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover:after {
    width: 100%; 
    left: 0; 
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  
  //MAYBE USE THIS FOR SMTH ELSE !! 
// .thetext:after {    
//     background: none repeat scroll 0 0 transparent;
//     content: "";
//     display: block;
//     height: 3px;
//     left: 0;
//     position: relative;
//     background: #fff;
//     transition: width 0.7s ease 0s, left 0.3s ease 0s;
//     width: 0;
// }

// .thetext:hover:after { 
//     width: 100%; 
//     left: 0; 
// }
