:root {
    --main-font: 'fatfrank', sans-serif;
    --text-font: 'nimbus-sans', sans-serif;
    --white: #e2e2e2;
    --black: #000000;
    --body1: #ff413b;
    --body2: #5fc9de;
    --body3: #b0e05c;
    --designworkpink: #d663ae;
    --designworkpinkhover: #bd007b;
    --contactgreen: #69ab27;
    --contactgreenhover: #458a00;
}


