:root {
    --main-font: 'fatfrank', sans-serif;
    --text-font: 'nimbus-sans', sans-serif;
    --white: #e2e2e2;
    --black: #000000;
    --orange: #ffbc37;
    --lightorange:#ffd175;
    --blue: #2c3a94;
    --lightblue: #6687ff;
    --pink: #fbeceb;
    --gmailred: #D44638;
    --linkedinblue: #4875B4;
    --githubgrey: #292929;
}


