:root {
    --main-font: 'Raleway', sans-serif;
    --white: #e2e2e2;
    --black: #000000;
    --pink: #b059a2;
    --blue: #72e5ff;
    --yellow: #fffc70;
    --green: #80ef7a;
    --lightblue: #a8eeff;
}